-- =======================================================
-- Database Script cho Há»‡ thá»‘ng School Bus (SQL Server)
-- =======================================================

USE master;
GO

-- XĂ³a database náº¿u Ä‘Ă£ tá»“n táº¡i
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'SchoolBusDB')
BEGIN
    ALTER DATABASE SchoolBusDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE SchoolBusDB;
END
GO

CREATE DATABASE SchoolBusDB;
GO

USE SchoolBusDB;
GO

-- 1. Báº£ng Users (TĂ i khoáº£n ngÆ°á»i dĂ¹ng: Admin, Parent, Driver, Monitor)
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) UNIQUE NOT NULL,
    Password VARCHAR(255) NOT NULL, -- Sáº½ Ä‘Æ°á»£c hash
    Role VARCHAR(20) NOT NULL CHECK (Role IN ('ADMIN', 'PARENT', 'DRIVER', 'MONITOR')),
    FullName NVARCHAR(100) NOT NULL,
    Phone VARCHAR(15),
    Email VARCHAR(100),
    Status VARCHAR(20) DEFAULT 'Active'
);

-- 2. Báº£ng Buses (ThĂ´ng tin xe)
CREATE TABLE Buses (
    BusID INT IDENTITY(1,1) PRIMARY KEY,
    LicensePlate VARCHAR(20) UNIQUE NOT NULL,
    Capacity INT NOT NULL CHECK (Capacity IN (29, 47)),
    Status VARCHAR(20) DEFAULT 'ACTIVE' -- ACTIVE, MAINTENANCE
);

-- 3. Báº£ng Routes (CĂ¡c tuyáº¿n Ä‘Æ°á»ng)
CREATE TABLE Routes (
    RouteID INT IDENTITY(1,1) PRIMARY KEY,
    RouteCode VARCHAR(10) UNIQUE NOT NULL, -- LT1, LT2...
    RouteName NVARCHAR(150) NOT NULL,
    Description NVARCHAR(500)
);

-- 4. Báº£ng Stops (CĂ¡c Ä‘iá»ƒm dá»«ng/Ä‘Ă³n)
CREATE TABLE Stops (
    StopID INT IDENTITY(1,1) PRIMARY KEY,
    StopName NVARCHAR(200) NOT NULL,
    Address NVARCHAR(300),
    Latitude DECIMAL(10,8),
    Longitude DECIMAL(11,8)
);

-- 5. Báº£ng RouteStops (Ná»‘i Route vĂ  Stop - Thá»© tá»± Ä‘iá»ƒm Ä‘Ă³n)
CREATE TABLE RouteStops (
    RouteID INT FOREIGN KEY REFERENCES Routes(RouteID),
    StopID INT FOREIGN KEY REFERENCES Stops(StopID),
    StopOrder INT NOT NULL,
    EstimatedTime TIME, -- Giá» Ä‘Ă³n (chiá»u Ä‘i)
    ReturnTime TIME,    -- Giá» tráº£ (chiá»u vá»)
    PRIMARY KEY (RouteID, StopID)
);

-- 6. Báº£ng HocSinh (ThĂ´ng tin há»c sinh)
CREATE TABLE HocSinh (
    MaHocSinh VARCHAR(20) PRIMARY KEY,
    TenHocSinh NVARCHAR(100) NOT NULL,
    Lop INT CHECK (Lop BETWEEN 1 AND 5),
    TenTK VARCHAR(50) UNIQUE NOT NULL,
    MatKhau VARCHAR(255) DEFAULT '123',
    TrangThai NVARCHAR(20) DEFAULT N'Sá»­ dá»¥ng'
);

-- 7. Báº£ng Schedules (Lá»‹ch cháº¡y hĂ ng ngĂ y)
CREATE TABLE Schedules (
    ScheduleID INT IDENTITY(1,1) PRIMARY KEY,
    Date DATE NOT NULL,
    Direction VARCHAR(10) NOT NULL CHECK (Direction IN ('TO_SCHOOL', 'TO_HOME')),
    RouteID INT FOREIGN KEY REFERENCES Routes(RouteID),
    BusID INT FOREIGN KEY REFERENCES Buses(BusID),
    DriverID INT FOREIGN KEY REFERENCES Users(UserID),
    MonitorID INT FOREIGN KEY REFERENCES Users(UserID),
    Status VARCHAR(20) DEFAULT 'PENDING' -- PENDING, IN_PROGRESS, COMPLETED, CANCELLED
);

-- 8. Báº£ng Attendances (Äiá»ƒm danh lĂªn/xuá»‘ng xe)
CREATE TABLE Attendances (
    AttendanceID INT IDENTITY(1,1) PRIMARY KEY,
    ScheduleID INT FOREIGN KEY REFERENCES Schedules(ScheduleID),
    MaHocSinh VARCHAR(20) FOREIGN KEY REFERENCES HocSinh(MaHocSinh),
    StopID INT FOREIGN KEY REFERENCES Stops(StopID), -- Äiá»ƒm thá»±c táº¿ Ä‘Ă³n/tráº£
    BoardingTime DATETIME, -- Thá»i gian lĂªn xe
    AlightingTime DATETIME, -- Thá»i gian xuá»‘ng xe
    IsAbsent BIT DEFAULT 0, -- 1: ÄĂ£ bĂ¡o nghá»‰ hoáº·c váº¯ng máº·t
    Note NVARCHAR(255)
);

GO
-- =======================================================
-- INSERT Dá»® LIá»†U MáºªU (SEED DATA)
-- =======================================================

-- 1. Insert Users

-- 2. Insert Buses
INSERT INTO Buses (LicensePlate, Capacity, Status) VALUES
('29E-111.11', 29, 'Active'),
('29E-222.22', 47, 'Active'),
('29E-333.33', 29, 'Active'),
('29E-444.44', 47, 'Active'),
('29E-555.55', 29, 'Rest'),
('29E-666.66', 47, 'Maintenance'),
('29E-777.77', 29, 'Active'),
('29E-888.88', 47, 'Active'),
('29E-999.99', 29, 'Rest'),
('29E-101.01', 47, 'Active');

-- 3. Insert Routes (Táº¥t cáº£ 6 tuyáº¿n xe)
INSERT INTO Routes (RouteCode, RouteName) VALUES
('LT1', N'Ocean Park -> LandMark 72 -> TrÆ°á»ng há»c'),
('LT2', N'VinCom Long BiĂªn -> Royal City -> TrÆ°á»ng há»c'),
('LT3', N'Vincom Metropolis -> Pháº¡m HĂ¹ng -> TrÆ°á»ng há»c'),
('LT4', N'Minh Táº£o -> 6th elements -> TrÆ°á»ng há»c'),
('LT5', N'Ecohome 3 -> Vinhome gardenia -> TrÆ°á»ng há»c'),
('LT6', N'Victory VÄƒn PhĂº -> Matrix One -> TrÆ°á»ng há»c');

-- 4. Insert Stops (Chá»‰ bao gá»“m cĂ¡c Ä‘iá»ƒm Ä‘Ă³n há»c sinh vĂ  TrÆ°á»ng há»c, bá» qua cĂ¡c tuyáº¿n Ä‘Æ°á»ng Ä‘i qua)
                  -- 27

-- 5. Insert RouteStops
-- Tuyáº¿n LT1
INSERT INTO RouteStops (RouteID, StopID, StopOrder, EstimatedTime, ReturnTime) VALUES
(1, 1, 1, '06:40', '17:50'),
(1, 2, 2, '06:50', '17:40'),
(1, 3, 3, '07:10', '17:20'),
(1, 4, 4, '07:40', '16:50'),
(1, 5, 5, '08:00', '16:30');

-- Tuyáº¿n LT2
INSERT INTO RouteStops (RouteID, StopID, StopOrder, EstimatedTime, ReturnTime) VALUES
(2, 6, 1, '06:40', '17:50'),
(2, 7, 2, '06:50', '17:40'),
(2, 8, 3, '07:05', '17:25'),
(2, 9, 4, '07:15', '17:15'),
(2, 10, 5, '07:40', '16:50'),
(2, 5, 6, '08:00', '16:30');

-- Tuyáº¿n LT3
INSERT INTO RouteStops (RouteID, StopID, StopOrder, EstimatedTime, ReturnTime) VALUES
(3, 11, 1, '07:15', '17:15'),
(3, 12, 2, '07:30', '17:00'),
(3, 5, 3, '08:00', '16:30');

-- Tuyáº¿n LT4

-- Tuyáº¿n LT5

-- Tuyáº¿n LT6

-- 6. Insert HocSinh (100 há»c sinh, 20 hs má»—i lá»›p tá»« 1 Ä‘áº¿n 5)

-- 7. Insert Schedule (NgĂ y hiá»‡n táº¡i)
INSERT INTO Schedules (Date, Direction, RouteID, BusID, DriverID, MonitorID, Status) VALUES
(CAST(GETDATE() AS DATE), 'TO_SCHOOL', 1, 1, 3, 2, 'PENDING'),
(CAST(GETDATE() AS DATE), 'TO_HOME',   1, 1, 3, 2, 'PENDING');

-- 8. Insert Attendances (Khá»Ÿi táº¡o sáºµn danh sĂ¡ch Ä‘iá»ƒm danh cho chuyáº¿n xe trĂªn)
-- Láº¥y ID cá»§a Schedule vá»«a táº¡o lĂ  1 (TO_SCHOOL) vĂ  2 (TO_HOME)
INSERT INTO Attendances (ScheduleID, MaHocSinh, StopID, IsAbsent) VALUES
(1, 'L1001', 1, 0),
(1, 'L1002', 2, 0),
(2, 'L1001', 1, 0),
(2, 'L1002', 2, 0);

GO
PRINT 'Database Setup Completed successfully.';
